#login-btn{
    float:right;
    margin-right:10px;
    margin-left:10px;
}

#sign-btn{
    float:right;
    margin-right:10px;
    margin-left:10px;

}

#submit-btn{
    background-color: #367588;
 }